@media screen and ( max-width: 1300px )
    html
        font-size: 12px
        .hero
        padding-top: 0px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 1080px )
    .row
        flex-direction: column
        align-items: center
    .col
        &-40
            min-width: 50%
            align-self: flex-start
        &-50
            min-width: 100%

    .swiper
        &-slide
            &--left
                margin-bottom: 40px
            &--right
                & img
                    width: 100%
            &__text
                flex-basis: 40%
    
@media screen and ( max-width: 992px )
    .hero
        padding-top: 80px
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .swiper
        &-slide
            &--left
                margin-bottom: 40px
            &__text
                flex-basis: 50%
    

@media screen and ( max-width: 760px )
    .design-project__list
        li:nth-child(7)::after
            content: '...'
            margin-left: 0.5rem 
        li:nth-child(n+8)
            display: none
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__price-tag
            font-weight: 400
            font-size: 1.2rem
            padding: 0.82rem 3.57rem
        &__list
            margin-left: -12px
        &__text
            margin-left: 0
    .design-project
        &__card
            margin-bottom: 5rem
    .section-title__subtitle
        font-size: 1.2rem
    .section-title
        &__heading
            font-size: 1.8rem
        &__subtitle
            margin: 0 auto
            max-width: 290px
            color: #363636
            font-size: 1.2rem
            line-height: 21px;
            font-family: 'Futura Book', sans-serif
            margin-top: 1.3rem
            text-transform: none
            margin-bottom: 40px
            // Slider
    .col
        &-40
            min-width: 100%
        &-50
            min-width: 100%
        &-60
            min-width: 100%
    .swiper
        // &-container
        //     &--right
        //         min-width: 300px
        &-slide
            &--right
                // min-width: 320px
                min-height: 350px
                margin-top: 40px
                // margin-left: 2rem
            &__text
                font-size: 14px
                flex-basis: 40%
    .section-title__text
        font-size: 14px
    .swiper-slide--right
        // min-width: 300px
        height: 202px
    
    // Control
    .control
        background-color: $dark   
        color: $light
        &__label
            color: rgba(255, 255, 255, 0.5)
            margin-bottom: 0
        &__input
            color: $light
            &::placeholder
                color: $light
        &__section-title


        
@media screen and ( max-width: 570px )  
    .menu
        justify-content: space-between 
    .container
        width: 90%
    .contacts
        &__phone
            margin-right: 0
            text-decoration: none
            color: $light
        &__button
            display: none
    .title
        font-size: 1.90rem
        max-width: 250px
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 100%
        &__text
            font-size: 18px
            margin-bottom: 3rem
            max-width: 320px 
        &__button
            display: block
            min-width: 100%
            margin-bottom: 1.85rem
    .button
        font-size: 1.1rem
        &--outline
    .section-title
        &--left
            margin-bottom: -10px
        &__heading
            font-size: 1.8rem
        &__subtitle
            margin: 0 auto
            max-width: 290px
            color: #363636
            font-size: 1.2rem
            line-height: 21px;
            font-family: 'Futura Book', sans-serif
            margin-top: 1.3rem
            text-transform: none
            margin-bottom: 40px
    .swiper
        &-container
            &--right
                margin-top: 30px
        &-slide
            &--left
                margin-bottom: 40px
            &__heading
                text-transform: none
            &__text
                font-size: 14px
                text-transform: none
                flex-basis: 50%
    // Control
    .control
        position: relative
        &__video
            background-size: cover
            max-width: 35rem
            min-height: 200px
        &__input__group
            margin-top: -1.7rem
            &:first-child
                margin-bottom: 4.5rem
        &__text
            font-size: 1.1rem
            font-family: 'Futura Book'
            line-height: 170%
            max-width: 27.50rem
            margin-top: -1rem
        &__input
            border-bottom: 1px solid  
        &__button
            position: absolute
            bottom: 0
            transform: translate(0, 50%)
            width: 90%
            order: 2    
        &__form
            flex-direction: column
            justify-content: space-between
        &__policy
            align-self: start
            order: 1
    .video__play
        width: 6rem
        height: 6rem

@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none


    
    
    
            
    