.our-clients 
    padding-bottom: 30rem
    &__heading
        font-size: 1.42rem
    &__subtitle
        max-width: 25.17rem
    &__img-wrapper
        max-width: 90px
        min-height: 90px
.card-header
    &__img
        border-radius: 50%
        width: 100%
        // height: auto