.projects
    padding-bottom: 30rem
.swiper
    &-slide
        display: flex
        flex-wrap: wrap
        &--left
            margin-top: 1.1rem
            margin-bottom: 6rem
        &__value
            display: inline-block
            max-width: 100px
            line-height: 1.4
        &__text
            flex-basis: 38%
            margin-bottom: 0.42rem
            padding-bottom: 1rem
        &__heading
            color: $primary
            font-size: 1.285rem
            line-height: 1.78rem
            font-family: 'Yeseva One', cursive
            font-weight: 400
            text-transform: uppercase
            margin-bottom: 0.54rem
    &-pagination
        &-bullet
            width: 10px
            height: 10px
            background-color: rgba($light, 0.3)
            &-active
                background-color: $light
    &-button
        &-prev, &-next
            bottom: 0.2rem
            top: auto
            width: 42px
            height: 14px
            background-size: 42px
            &::after
                display: none   
        &-next
            background: url('../img/projects/right-a.svg') no-repeat center
        &-prev
            left: 0
            background: url('../img/projects/left-a.svg') no-repeat center

.swiper-container-horizontal>.swiper-pagination-bullets
    width: auto 
    bottom: 0.1rem 
.swiper-container-horizontal>.swiper-pagination-bullets>.swiper-pagination-bullet
    margin-right: 15px

.section-title
    &__word
        &::after
            margin-left: 35px   
    &__heading
        &--primary
            line-height: 1.5
            font-size: 24px
            
    &__text
        text-transform: none
.swiper-container--right
    top: 20px
    right: 20px
    & img
        max-width: 70rem
    

        
            
            
